/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:wght@700&display=swap');

body {
  font-family: 'Bona Nova', serif;
}

.alert {
  font-size: 10px;
  margin-top: -15px;
  height: 5px;
}

.brand-logo {
  display: flex;
  justify-content: center;
  margin: 60px 0 150px 0;
  width: auto;
}

.sign-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

span {
  width: 50px;
  margin-left: -20px;
}

#btn-log {
  background-color: #5fb523;
  border: none;
}

#btn-sign {
  background-color: #3778c2;
  border: none;
}

.back-header {
  display: flex;
  justify-content: space-evenly;
  height: 60px;
  background-color: #3778c2;
  color: white;
}

svg {
  margin-top: 12px;
  margin-left: -45px;
}

.sign-out {
  color: white;
  text-decoration: none;
}

.out {
  margin-top: 12px;
}

.link {
  color: white;
}

h2 {
  margin-top: 12px;
}

.new_user {
  margin-top: 50px;
}

.cat-img {
  width: 80px;
  border-radius: 5px;
  height: 75px;
  margin-left: 10px;
  margin-top: 5px;
}

.category-main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
}

.single-cat {
  height: 85px;
  background-color: white;
  border-radius: 5px;
  box-shadow: rgba(116, 126, 146, 0.774) 0 0 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cat {
  text-decoration: none;
  color: #434b54;
}

.cat-details {
  margin-top: 20px;
  margin-right: 20px;
  gap: 100px;
  display: flex;
}

.page {
  padding-top: 20px;
  padding-bottom: 50px;
  background-color: rgba(180, 196, 218, 0.747);
}

.add-category {
  display: flex;
  justify-content: center;
  margin-top: 180px;
  height: 80px;
  margin-bottom: 20px;
  background-color: #5fb523;
  border-radius: 5px;
}

.new {
  text-decoration: none;
  border: 1px solid;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  color: white;
  width: 90%;
  padding-top: 10px;
  margin: 15px 0 15px 0;
}
