<div id="<%= dom_id category %>">
 <div class="category-img">
    <%= image_tag example_img(category) %>
  </div>
  <p>
    <strong>Name:</strong>
    <%= category.name %>
    <p>$ <%= category.transactions.all.sum(:amount) %> </p>
  </p>
</div>
