<div id="<%= dom_id transaction %>">

  <div class="category-img">
    <%= image_tag example_img(@category) %>
  </div>
  <p>
    <strong><%= transaction.name %></strong>
  </p>

  <p>
    <strong> <%= transaction.amount %> $</strong>
  </p>

</div>
