<div class="single-cat" id="<%= dom_id transaction %>">

  <div class="category-img">
    <%= image_tag example_img(@category), class: "cat-img" %>
  </div>
  <p class="cat-details">
    <strong><%= transaction.name %></strong>
    <span> <%= transaction.amount %> $</span>
  </p>
</div>
